@import url('https://fonts.googleapis.com/css2?family=Inter&family=Syncopate:wght@700&display=swap');

*,
HTML,
Body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #E0E5EE;
    color: #fff;
    width: 100%;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.intro-section {
    background: #202947;
}

.section-wrapper {
    display: flex;
    padding: 20px 0 30px;
    max-width: 80%;
    margin: 0 auto;
}

/****************************************************
*
* Card section with avatar
*
****************************************************/

.picture-cards-wrapper {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    padding-left: 10%;

    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;
    flex: 40;
}

.picture-card {
    height: 100%;
    width: 100%;

    grid-column: 1 / 1;
    grid-row: 1 / 1;
    background: #22242B;
    border: solid 2px #fff;
}

.picture-cards--bottom {
    margin: 20px 0 0 20px;
}

.picture-cards--middle {
    margin: 10px 0 0 10px;
}

.picture-cards--top {
    text-align: center;
}

.picture-card--character-circle {
    background-color: #fff;
    background-image: url("images/idle.gif");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 20px;
    width: 80%;
    height: 0;
    padding-bottom: 80%;
    border-radius: 50%;
    margin: 10% auto 30px;
}

.picture-card--name {
    font-family: sans-serif;
    font-weight: 700;
    width: 70%;
    margin: 0 auto 30px;
    fill: #fff;
}

.picture-card--role {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    width: 70%;
    margin: 0 auto 40px;
    fill: #BDBEC0;
}

.picture-card--links {
    text-align: center;
    visibility: visible;
    margin-bottom: 40px;
}

.picture-card--links a {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 25px;

    max-width: 69px;
    margin-right: 40px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    transition: max-width 0.2s linear;

}

.picture-card--links a .logo {
    width: 64px;
    height: 64px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
    filter: brightness(100);
}

.picture-card--links a:last-of-type {
    margin-right: 0px;
}

.picture-card--links a:hover {
    max-width: 200px;
}

.picture-card--links a:hover .logo {
    filter: none;
}

.github-logo {
    background-image: url('images/github.png');
}

.gitlab-logo {
    background-image: url('images/gitlab.png');
}

.linkedin-logo {
    background-image: url('images/linkedin.png');
}

.picture-card--contact-btn {
    font-family: 'Inter', sans-serif;
    display: inline-block;
    margin-bottom: 30px;
    padding: 10px;
    background: #118FC5;
    box-shadow: 4px 4px 0px #FFFFFF;
    transition: all 0.1s;
    cursor: pointer;
}

.picture-card--contact-btn:hover {
    color: #eee;
    box-shadow: 0px 0px 0px;
    margin-top: 2px;
    margin-left: 2px;
    margin-bottom: 28px;
}

/****************************************************
*
* profile description - intro right side
*
****************************************************/

.profile-description-wrapper {
    padding-left: 50px;
    padding-top: 20px;
    flex: 60;
    display: flex;
    flex-direction: column;
}

.profile-description--snippet {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #636A7F;
}

.profile-description--title,
.profile-description--subtitle {
    margin-left: 10%;
}

.profile-description--title-text {
    font-family: 'Syncopate', sans-serif;
    font-style: normal;
    font-weight: 700;
    vertical-align: bottom;
    padding: 0 10px;
    width: 40%;
    display: inline-block;
}

.profile-description--title-text text {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
    stroke-linejoin: round;
    animation: waivy 6s infinite;
    animation-delay: calc(.2s * var(--i));
}

.profile-description--title-text circle {
    fill: #118FC5;
    animation: waivy 6s infinite;
    animation-delay: calc(.2s * var(--i));
}

@keyframes waivy {

    0%,
    80% {
        transform: translateY(0)
    }

    90% {
        transform: translateY(-10px)
    }

    100% {
        transform: translateY(0px)
    }
}

.profile-description--subtitle {
    margin-top: 5%;
}

.typewriter * {
    visibility: hidden;
}

.profile-description--subtitle p {
    margin-top: 20px;
}

.profile-description--subtitle-text {
    font-family: 'Inter';
    padding: 0 10px;
}

.profile-description--text {
    font-family: 'Inter';
    padding: 0px 20px 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}

.profile-description--text ul {
    margin-top: 20px;
    margin-left: 25px;
}

span.caret {
    visibility: visible;
    animation: blinker 1s linear infinite;
    color: #fff;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.profile-description--closing-html {
    margin-top: auto;
}

/****************************************************
*
* Skills section for languages and frameworks
*
****************************************************/

.skills-section .section-wrapper {
    display: block;
}

.skills-section h1 {
    font-family: 'Syncopate';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    margin-top: 10px;

    color: #000000;
}

.skills-section h1 .blue-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #118FC5;
    display: inline-block;
}

.skills-section h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    padding-left: 5px;
    margin-top: 5px;

    color: #118FC5;
}

.skills--logo-wrapper {
    padding: 10px 0;
    text-align: justify;
}

.skills--logo-wrapper img {
    cursor: pointer;
    filter: grayscale(100%);
    padding: 20px 50px;
    margin-top: 20px;
}

.skills--logo-wrapper img:hover {
    filter: none;
}

/****************************************************
*
* experience section for jobs and projects
*
****************************************************/

.experience-section {
    background: #202947;
}

.experience-section .section-wrapper {
    display: block;
}

.experience-section h1 {
    font-family: 'Syncopate';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    padding-left: 5px;

    margin-top: 10px;
    color: #fff;
}

.experience-section h1 .blue-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #118FC5;
    display: inline-block;
}

.experience-entry {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.experience-entry div:last-of-type {
    margin-left: auto;
}

.experience-description {
    width: 50%;
}

.experience-image {
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.experience-entry h2,
.experience-entry h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    padding-left: 5px;
    margin-top: 5px;

    color: #118FC5;
}

.experience-entry h3 {
    font-size: 25px;
    color: #fff;
}

.experience-entry p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
    color: #fff;
}

.experience-image img {
    cursor: pointer;
    filter: grayscale(100%);
    vertical-align: middle;
    width: 100%;
}

.experience-image img:hover {
    filter: none;
}











@media screen and (max-width: 1550px) {
    .section-wrapper {
        max-width: 100%;
    }

    .picture-cards-wrapper {
        padding-left: 2%;
    }
}

@media screen and (max-width: 1000px) {
    .section-wrapper {
        display: block;
    }

    .typewriter * {
        visibility: visible;
    }

    .profile-description-wrapper {
        margin-top: 20px;
        padding-left: 5px;
    }

    .profile-description--subtitle span {
        display: block;
    }

    .profile-description--subtitle-text {
        padding: 5px 0px 5px 20px;
    }

    .profile-description--title-text text,
    .profile-description--title-text circle {
        animation: none;
    }

    .experience-section h1 {
        font-size: 50px;
    }

    .experience-image {
        width: 45%;
    }
}

@media screen and (max-width: 700px) {
    .picture-card--links a:hover {
        max-width: 69px;
    }

    .skills--logo-wrapper img {
        padding: 20px 10px;
        max-width: 100%;
    }

    .experience-section h1 {
        font-size: 40px;
    }
}