.character
{
    background-image: url("../../assets/images/waving.png");
    width: 1288px;
    height: 2345px;
    background-repeat: no-repeat;
    animation: wave 2s steps(30, start) infinite;
    transform: scale(0.5);
}

@keyframes wave {
    to {
        background-position: -38640px;
    }
}