@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Open+Sans&display=swap');

HTML,
body {
    margin: 0;
    padding: 0;
    color: white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#main-content-canvas {
    width: 100%;
    height: 100%;
    display: block;
    background-image: url("./resources/images/grass.jpg");
}

.about-me-box-wrapper {
    height: 100%;
    width: 100%;
    display: none;
}

.about-me-box {
    width: calc(100% - 20pt);
    border-width: 10pt;
    border-style: solid;
    border-image: linear-gradient(to top left, #cacaca, #7f7f7f) 1;
    text-align: center;
}

.about-me-box--picture {
    width: 30%;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 2%;
}

.about-me-box--text {
    max-width: 61%;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    padding: 20pt 2%;
}

.about-me-box--title {
    font-size: 4vw;
    font-family: 'Koulen', cursive;
}

.about-me-box--profile-overview {
    font-size: 1.5vw;
    font-family: 'Open Sans', sans-serif;
    line-height: 30pt;
}

.about-me-box-stand {
    height: 20%;
    width: 20%;
    background: url("./resources/billboard_stand.svg");
    background-size: 100% 100%;
    margin: 0 auto;
}